.cartIcon {
  position: relative;
  font-style: normal;
  font-size: 30px;
}
.cartBadge {
  position: absolute;
  top: 20%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #6085f7;
  background-color: #b0db7d;
  color: white;
  font-size: 16px;
}

.hidden-important {
  display: none !important;
}
