.navbar {
  background-color: white;
  transition: background-color 0.5s, backdrop-filter 0.5s, box-shadow 0.5s;
}
.navbar-nav .nav-link.active {
  color: $tertiary;
}
.navbar-scrolled {
  background-color: rgba($color: #f1f1f1, $alpha: 0.6);
  backdrop-filter: blur(8px);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
  transition: background-image 0.5s;
}
.navbar-toggler {
  .navbar-toggler-icon {
    background-image: url(../../image/x-lg.svg);
  }
}

.navbar-toggler.collapsed {
  .navbar-toggler-icon {
    background-image: url(../../image/list.svg);
  }
}
