@media (max-width: 992px) {
  .w-lg-75 {
    width: 75% !important;
  }
  .card--float:hover {
    transform: initial;
    box-shadow: initial;
  }
}
@media (max-width: 768px) {
  .card--float:hover {
    transform: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .carousel-item p {
    height: 120px;
  }
}
/**************************/
/* BELOW 576px (Phones) */
/**************************/

@media (max-width: 576px) {
  .header {
    height: 60vh;
  }
  .carousel-item p {
    height: 144px;
    overflow-y: auto;
  }
}
